.carousel-img {
    border-radius: 10px;
  }
  
  @media (max-width: 575.98px) {
    .carousel-img {
      height: 300px;
      width: auto;
    }
  }
  
  @media (min-width: 576px) {
    .carousel-img {
      height: 500px;
      width: auto;
    }
  
  }