* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", system-ui;
}

body {
  background-color: #181818;
  margin-left: 10%;
  margin-right: 10%;
}

.navbar {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #18181880;
}

#avion {
  width: 2rem;
  height: auto;
}



.section-head {
  color: #ffffff;
}

.carousel-img {
  border-radius: 10px;
}

@media (max-width: 575.98px) {
  .carousel-img {
    height: 300px;
    width: auto;
  }

  .imgcont {
    border-color: transparent;
    border-style: solid;
    border-radius: 5px;
  }
}

@media (min-width: 576px) {
  .carousel-img {
    height: 500px;
    width: auto;
  }

  .card {
    width: 48%;
    height: 15rem;
    --bs-gutter-x: 0;
  }

  .imgcont {
    height: 15rem;
    border-bottom: 5px;
    border-color: transparent;
    border-style: solid;
    border-radius: 5px;
  }

  .cardimg {
    height: 100%;
  }
}

.quienes {
  color: white;
}

.qimg {
  border: 10px;
  border-radius: 3%;
  border-color: transparent;
}

.destacados h2 {
  color: white;
}

.precio {
  display: flex;
  align-items: center;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 4%;
}
.card-text{
  font-size: 14px;
}

.testimonios .row {
  justify-content: space-around;
}
.testimonios .card {
  background-color: transparent;
  border-color: transparent;
}
.testimonios .card-text {
  color: #d6c084;
  text-align: center;
}
.testimonios .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-round {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.redes {
  color: white;
  align-items: baseline;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.form-check-label {
  text-decoration: underline;
}

@import "https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css";

/* Personalización del modal */
.modal-content {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
}

.modal-header {
  border-bottom: none;
}
.modal-body {
  color: #181818;
}
.modal-title {
  color: #007bff;
}

.modal-footer {
  border-top: none;
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    &:hover {
      background-color: darken(#007bff, 10%);
      border-color: darken(#007bff, 10%);
    }
  }
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    &:hover {
      background-color: darken(#6c757d, 10%);
      border-color: darken(#6c757d, 10%);
    }
  }
}
.footer-logo {
  font-size: 18px;
  color: white;
}